*{
    margin : 0;
    padding: 0;
}

.F1{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -10px;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}

.flight_container{
    width: 100%;
}

.logo{
    width: 3%;
    height: 50%;
    /* float: right; */
    margin-left: -0.5%;
    margin-right: 4%;
    position: absolute;
    top: 40%;
    transform: translate(0, -60%);
    
}

.time_flight_container{
    width: 30%;
    float: left;
    margin-left: 10%;
}

.duration_destination_container{
    width: 30%;
    float: left;
}

.stop{
    /* width: 8%; */
    float: left;
}

.select_flight{
    width: 10%;
    float: left;
    display: none;
}

.price_trip_container{
    width: 15%;
    float: right;
}

.price{
    text-align: right;
    font-weight:  bolder;
    color: green;
}


.trip{
    text-align: right;
    font-size: 13px;
    color: grey;
}

.flight_date{
    font-weight: bold;
}

.time{
    font-weight: bold;
}

.flight_details{
    width: 100%;
}

.line{
    width: 100%;
    display: block;
    background-color: #dbdbdb;
    height: 1.5px;
}

/* .logo_internal{
    width: 70%;
    display: block;
} */

.details{
    width: 93%;
    float: right;
}

.flight_name{
    font-size: 13px;
    color: rgb(114, 114, 114);
}

.source_arrival_time, .from, .destination_arrival_time, .to,.t, .travel_time, .dot_1{
    display: inline-block;
}

.duration_internal{
    font-size: 13px;
    color: gray;
}

/* .source_time{
    display: inline-block;
} */

.travel_time{
    padding: 10px;
}

.source_arrival_time, .destination_arrival_time{
    margin: auto;
    padding-left: 10px;
    padding-right: 20px;
}

.t, .travel_time{
    color: grey;
    padding-left: 10px;
}

.source{
    margin-top: 10px;
}

.destination{
    font-size: 13px;
    color: grey;   
}
.flight_no{
    font-size: 13px;
    color: rgb(39, 34, 34); 
    margin-top: 10px;
    margin-left: 1%;
}