.Hotel{
  display:grid;
  grid-template-columns: 50% auto;
  width:100vw;
  height:600px;
}

.map{
  position: inline-block;
  right:0;
  height:100%;
}
.hotel_listing{
  padding: 5px;
  height:inherit;
  overflow-y: scroll;
}
.hotel_listing::-webkit-scrollbar{
  display: none;
}